h2 Feel Kyiv tour
p is&#160;the possibility to&#160;see the city beyond touristic map, not only the centre but its suburbs, visit unique places and actual events, feel local life as&#160;it&#160;is.
.tourOptions__details
	.tourOptions__detailsItem
		svg.tourOptions__icon
			use(xlink:href='#icon-clock')
		span 20&#160;hrs
	
	.tourOptions__detailsItem
		svg.tourOptions__icon
			use(xlink:href='#icon-distance')
		span 30&#160;km
	
	.tourOptions__detailsItem
		svg.tourOptions__icon
			use(xlink:href='#icon-walk')
		span by&#160;foot
	
	.tourOptions__detailsItem
		svg.tourOptions__icon
			use(xlink:href='#icon-car')
		span by&#160;car
	
	.tourOptions__detailsItem
		svg.tourOptions__icon
			use(xlink:href='#icon-price')
		span &#36;2000