doctype html
html(lang='en')
	include head.jade
	body
		.deviceRotate
			.deviceRotate__icon
				svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 166' width='70')
					g
						path(d='M124.8,151.5c-0.4,0-0.8,0-1.2-0.1v7.3H21.8V88.5h87.3v-7.3H9.7c-5.3,0-9.7,4.4-9.7,9.7v65.4c0,5.3,4.4,9.7,9.7,9.7h126.1\
						c5.3,0,9.7-4.4,9.7-9.7v-4.8H124.8z')
					path(d='M104.3,21.6L80.2,7.7c-1.2-0.7-2.7,0.2-2.7,1.5v8.4C51.3,17.7,30,39,30,65.2c0,2.7,2.2,4.8,4.8,4.8s4.8-2.2,4.8-4.8\
					c0-20.9,17-37.9,37.9-37.9V37c0,1.4,1.5,2.2,2.7,1.5l24.1-13.9C105.5,24,105.5,22.3,104.3,21.6z')
					path(d='M190.3,0h-65.5c-5.3,0-9.7,4.4-9.7,9.7v126c0,5.3,4.4,9.7,9.7,9.7h65.5c5.3,0,9.7-4.4,9.7-9.7V9.7C200,4.4,195.6,0,190.3,0z\
					M192.7,123.6h-70.3V21.8h70.3V123.6z')
			.deviceRotate__text
				p
					| Hold your device vertically, please...

		include menu.jade
		#fullpage
			include sectionTour.jade
			include sectionReasons.jade
			include sectionGuide.jade
			include sectionTourOptions.jade
			include sectionFeedback.jade
		script(src='js/jquery.fullpage.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
		script.
			$(document).ready(function() {
				$('#fullpage').fullpage({
					menu: "#menu",
			        slidesNavigation: true,
			        controlArrows: false,
			        slidesNavPosition: 'bottom'
				});
			});
		script.
			$(function(){
				$('#menu').slicknav({
					label : '',
					closeOnClick : true
				});
			});