doctype html
html(lang='en')
	include head.jade
	body
		.deviceRotate
			.deviceRotate__icon
				include icons/iconDeviceRotate
			.deviceRotate__text
				p
					| Hold your device vertically, please...

		include menu.jade
		#fullpage
			include sectionTour.jade
			include sectionReasons.jade
			include sectionGuide.jade
			include sectionTourOptions.jade
			include sectionFeedback.jade
		script(src='js/jquery.fullpage.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
		script.
			$(document).ready(function() {
				$('#fullpage').fullpage({
					menu: "#menu",
			        slidesNavigation: true,
			        controlArrows: false,
			        slidesNavPosition: 'bottom'
				});
			});
		script.
			$(function(){
				$('#menu').slicknav({
					label : '',
					closeOnClick : true
				});
			});