//-nav
ul#menu
	li(data-menuanchor='tour'): a(href='#tour') Kyiv tour
	li(data-menuanchor='reasons'): a(href='#reasons') Why go?
	li(data-menuanchor='guide'): a(href='#guide') The guide
	li(data-menuanchor='tour-options'): a(href='#tour-options') Tour options
	li(data-menuanchor='feedback'): a(href='#feedback') Feedback