.section.guide(data-anchor='guide')
	.container
		h2 The Guide
		.blockImage
			img.annaLytkinaFace(src='images/anna.jpg')
		.blockText
			p 
				| If&#160;you want to&#160;explore the city with a&#160;professional insider or&#160;find a&#160;friend in&#160;an&#160;unknown city just let me&#160;know and&#160;I promise you will fall in&#160;love with Kyiv.
				br
				| My&#160;name is&#160;Anna and&#160;I deeply passionate about Kyiv and work as&#160;licenced tour guide for more than 5&#160;years.
			.contactIcons
				.contactIcons__icon
					img(src='images/mail.svg')
				.contactIcons__icon
					img(src='images/mobile-phone.svg')
				.contactIcons__icon
					img(src='images/skype.svg')
				.contactIcons__icon
					img(src='images/telegram.svg')
				.contactIcons__icon
					img(src='images/viber.svg')
				.contactIcons__icon
					img(src='images/whatsapp.svg')
			p Fore more info about Kyiv visit #[a(href='#') my blog]