.section.guide(data-anchor='guide')
	.container
		h2 The Guide
		p My name is Anna and I work as licenced tour guide for more than 5 years. I am deeply passionate about Kyiv and I will be glad to share my knowledge with you.
		p If you want to explore the city with a professional insider or find a friend in an unknown city just let me know and I promise I will get you to fall in love with Kyiv.
		.contactIcons
			.contactIcons__icon
				img(src='images/mail.svg')
			.contactIcons__icon
				img(src='images/mobile-phone.svg')
			.contactIcons__icon
				img(src='images/skype.svg')
			.contactIcons__icon
				img(src='images/telegram.svg')
			.contactIcons__icon
				img(src='images/viber.svg')
			.contactIcons__icon
				img(src='images/whatsapp.svg')
		p Fore more info about Kyiv visit #[a(href='#') my blog]
