.section.tour-options(data-anchor='tour-options')
	.slide.tour-options__meetkyiv
		.container
			h2 Meet Kyiv tour
			p
				| is&#160;the best way to&#160;make friends with the city in&#160;the quickest way, to&#160;discover the basics of&#160;its history and see the most important sights.
				br
				| 3-4&#160;hours, 10&#160;km, by&#160;foot/ car, ...&#36;
			
	.slide.tour-options__explorekyiv
		.container
			h2 Explore Kyiv (full-day) tour
			p
				| is&#160;perfect when quick glance is&#160;not enough and you want at&#160;an&#160;easy pace admire the beauty of&#160;central district, visit hidden places and hear exciting stories. Three or&#160;four stops are usually made.
				br
				| 10&#160;hours, 20&#160;km, by&#160;foot/ car, ...&#36;

	.slide.tour-options__feelkyiv
		.container
			h2 Feel Kyiv (2-day) tour
			p
				| is&#160;the possibility to&#160;see the city beyond touristic map, not only the centre but its suburbs, visit unique places and actual events, feel local life as&#160;it&#160;is.
				br
				| 20&#160;hours, 30&#160;km, by&#160;foot/ car, ...&#36;

	.slide.tour-options__tastekyiv
		.container
			h2 Taste Kyiv (gastronomic) tour
			p
				| to&#160;explore the city centre including food markets and festivals, traditional cuisine, world&#146;s fast food, classy restaurants, best coffee spots and bars.
				br
				| Duration and locations are discussed.

	.slide.tour-options__dreamkyiv
		.container
			h2 Dream Kyiv tour
			p
				| is&#160;arranged according to&#160;your personal requests. So&#160;if&#160;you want to&#160;see only all art galleries in&#160;the city or&#160;coffee shops, visit secret places and architecture of&#160;Soviet times&#160;&#8212; no&#160;problem. We&#160;can get pretty much anywhere you want to&#160;go&#160;in&#160;the city.
				br
				| Duration and locations are discussed.
		