.section.reasons(data-anchor='reasons')
	.slide.reasonHystory
		.container
			h2 Rich history and culture
			p
				| Kyiv is&#160;more than 1500 years old. It&#160;is&#160;the cradle of&#160;Eastern slavic culture and a&#160;place where a&#160;number of&#160;outstanding personalities lived, loved and created.
				br
				| So&#160;just imagine how many great stories the city keeps.

	.slide.reasonAtmosphere
		.container
			h2 Unique atmosphere
			p
				| Kyiv has an&#160;atmosphere that you can&#146;t find anywhere in&#160;Europe. It&#146;s the mixture of&#160;ancient Slavic and European cultures, Soviet brutalism and Ukrainian spirit.
				br
				| Kyiv is&#160;rebellious and conservative, luxurious and shabby at&#160;the same time.

	.slide.reasonViews
		.container
			h2 Beautiful views
			p 1/2 of&#160;Kyiv&#146;s territory is&#160;occupied by&#160;parks and gardens. You can&#146;t walk far without passing one. Picturesque Dnipro river, which runs through the middle of&#160;the city, provides sandy beaches and recreation areas in&#160;the very heart of&#160;the capital.

	.slide.reasonPrices
		.container
			h2 Reasonable prices
			ul.priceTable
				li.priceTable__item.priceTable__itemDinner
					.priceTable__itemIcon
						include icons/iconBill
					| Dinner bill #[span.priceAmount &#36;8]
				li.priceTable__item.priceTable__itemMuseum
					.priceTable__itemIcon
						include icons/iconTicket
					| Ticket to&#160;museum #[span.priceAmount &#36;2]
				li.priceTable__item.priceTable__itemSubway
					.priceTable__itemIcon
						include icons/iconSubway
					| Subway ticket #[span.priceAmount &#36;0,2]
				li.priceTable__item.priceTable__itemCoffee
					.priceTable__itemIcon
						include icons/iconCoffee
					| Cup of&#160;coffee #[span.priceAmount &#36;1]
				li.priceTable__item.priceTable__itemTaxi
					.priceTable__itemIcon
						include icons/iconTaxi
					| Taxi around centre #[span.priceAmount &#36;3]
				li.priceTable__item.priceTable__itemCocktail
					.priceTable__itemIcon
						include icons/iconCocktail
					| Cocktail in&#160;bar #[span.priceAmount &#36;3]

	.slide.reasonEntertainment
		.container
			h2 Entertainment
			ul.entertainmentList.txtCenter
				li.entertainmentList__item - more than 150 museums
				li.entertainmentList__item - world heritage sites
				li.entertainmentList__item - stunning parks and river beaches
				li.entertainmentList__item - numerous night clubs
				li.entertainmentList__item - cultural events and festivals
				li.entertainmentList__item - various art spaces
				li.entertainmentList__item - restaurants and street food spots
				li.entertainmentList__item - traditional food markets

	.slide.reasonLocation
		.container
			h2 Good location
			include icons/iconLocation
			p 
				| Kyiv is&#160;the very heart of&#160;Europe.
				br
				| The flight duration from Rome or&#160;Tel Aviv is&#160;about 3&#160;hours. So&#160;for some of&#160;you it&#160;can be&#160;the weekend trip.

	.slide.reasonPeople
		.container
			h2 Nice people