.section.reasons(data-anchor='reasons')
	.slide.reasons__item.reasons__history
		.container
			include content/en-history

	.slide.reasons__item.reasons__atmosphere
		.container
			include content/en-atmosphere

	.slide.reasons__item.reasons__views
		.container
			include content/en-views

	.slide.reasons__item.reasons__prices
		.container
			include content/en-prices

	.slide.reasons__item.reasons__entertainment
		.container
			h2 Entertainment
			ul.reasons__entertainmentList
				li.reasons__entertainmentListItem - more than 150 museums
				li.reasons__entertainmentListItem - world heritage sites
				li.reasons__entertainmentListItem - stunning parks and river beaches
				li.reasons__entertainmentListItem - numerous night clubs
				li.reasons__entertainmentListItem - cultural events and festivals
				li.reasons__entertainmentListItem - various art spaces
				li.reasons__entertainmentListItem - restaurants and street food spots
				li.reasons__entertainmentListItem - traditional food markets

	.slide.reasons__item.reasons__location
		.container
			h2 Good location
			include icons/iconLocation
			p Kyiv is&#160;the very heart of&#160;Europe. The flight duration from Rome or&#160;Tel Aviv is&#160;about 3&#160;hours. So&#160;for some of&#160;you it&#160;can be&#160;the weekend trip.

	.slide.reasons__item.reasons__people
		.container
			h2 Nice people