.section.feedback(data-anchor='feedback')
	.slide.feedback__infopulse
		.container
			p
				| &#171;Anna often helps our company to&#160;welcome our foreign partners and clients to&#160;Kiev. She does a&#160;superb job showing our guests round the city and keeping everyone interested. It&#146;s a&#160;great pleasure to&#160;work with such a&#160;big professional and an&#160;easygoing person!&#187;
				br
				| Christian Berner, Ukraine, &#171;Infopulse&#187;
	
	.slide.feedback__hasoffers
		.container
			p
				| &#171;Thanks Anna Lytkina for epic tour!&#187;
				br
				| Lucas Brown, USA, &#171;HasOffers&#187;
	.slide.feedback__castrol
		.container
			p
				| &#171;Being introduced to&#160;Kiev with Anna was a&#160;heart-warming, fun and insightful experience. She really brought the history of&#160;this great city to&#160;life for&#160;us and showed&#160;us treasures and places that we&#160;would never have found on&#160;our own. It&#160;was a&#160;perfect day out. Thank you Anna!&#187;
				br
				| &#171;Castrol&#187;, Turkey
	.slide.feedback__opet
		.container
			p
				| &#171;First of&#160;all&#160;I want to&#160;thank our tour guide Anna who introduced&#160;us the city. She provided&#160;us with a&#160;whole lot of&#160;exciting information. She is&#160;really experienced guide and&#160;I would like to&#160;recommend visiting Kiev under her guidance. Because it&#160;would be&#160;much more interesting!&#187;
				br
				| Ramazan Centeli, Turkey, &#171;OPET&#187;
