.slide.reason1
	.container
		//- svg#scrolldown-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='50')
		//- 	path(d='M50 0C22.4 0 0 22.4 0 50s22.4 50 50 50 50-22.4 50-50S77.6 0 50 0zm13.3 78.4H38.5v-2.1h11.3V23.9l-13.1 2.9v-1.9l15.2-3.3v54.6h11.3v2.2z')
		h2 Rich history and culture
		p
			| Kyiv is&#160;more than 1500 years old. It&#160;is&#160;the cradle of&#160;Eastern slavic culture and a&#160;place where a&#160;number of&#160;outstanding personalities lived, loved and created.
			br
			| So&#160;just imagine how many great stories the city keeps.