.slide.reason4
	.container
		//-svg#scrolldown-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100')
			path(d='M54.5 29.7l-20.8 31h24v-36h-.2z')
			path(d='M50 0C22.4 0 0 22.4 0 50s22.4 50 50 50 50-22.4 50-50S77.6 0 50 0zm19.6 62.8h-9.8v13.3h6.3v2.1H51.4v-2.1h6.3V62.8H30.4v-1.2l26.9-39.9h2.5v38.9h9.8v2.2z')
		h2 Reasonable prices
		p
			| Dinner bill&#160;&#8212; &#36;8
			br
			| Ticket to&#160;museum&#160;&#8212; &#36;2
			br
			| Subway ticket&#160;&#8212; &#36;0,2
			br
			| Cup of&#160;coffee&#160;&#8212; &#36;1
			br
			| Taxi around centre&#160;&#8212; &#36;3
			br
			| Cocktail in&#160;bar&#160;&#8212; &#36;3