.slide.reason7
	.container
		//-svg#scrolldown-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100')
			path(d='M50 0C22.4 0 0 22.4 0 50s22.4 50 50 50 50-22.4 50-50S77.6 0 50 0zm18 23.9C62.5 30.4 57.7 37.7 53.9 46c-3.9 8.3-6.4 17.8-7.6 28.7l-.3 3.5h-2l.2-3.5c1.1-10.2 3.5-19.5 7.1-27.8 3.6-8.4 8.4-16 14.2-22.9H34.1v9.3H32V21.8h36v2.1z')
		h2 Nice people