.section.tour-options(data-anchor='tour-options')
	.slide.tourOptions__meetkyiv
		.container
			h2 Meet Kyiv tour
			p
				| is&#160;the best way to&#160;make friends with the city in&#160;the quickest way, to&#160;discover the basics of&#160;its history and see the most important sights.
			ul.tourDetails
				li.tourDetails__item.tourDetails__itemHours.txtCenter
					| 3-4&#160;hrs
				li.tourDetails__item.tourDetails__itemDistance.txtCenter
					| 10&#160;km
				li.tourDetails__item.tourDetails__itemFoot.txtCenter
					| by&#160;foot
				li.tourDetails__item.tourDetails__itemCar.txtCenter
					| by&#160;car
				li.tourDetails__item.tourDetails__itemCost.txtCenter
					| &#36;750

	.slide.tourOptions__explorekyiv
		.container
			h2 Explore Kyiv tour
			p.tourOptions__nameBottomline.txtCenter #[i full-day]
			p
				| is&#160;perfect when quick glance is&#160;not enough and you want at&#160;an&#160;easy pace admire the beauty of&#160;central district, visit hidden places and hear exciting stories. Three or&#160;four stops are usually made.
				br
			ul.tourDetails
				li.tourDetails__item.tourDetails__itemHours.txtCenter
					| 10&#160;hrs
				li.tourDetails__item.tourDetails__itemDistance.txtCenter
					| 20&#160;km
				li.tourDetails__item.tourDetails__itemFoot.txtCenter
					| by&#160;foot
				li.tourDetails__item.tourDetails__itemCar.txtCenter
					| by&#160;car
				li.tourDetails__item.tourDetails__itemCost.txtCenter
					| &#36;1500

	.slide.tourOptions__feelkyiv
		.container
			h2 Feel Kyiv tour
			p.tourOptions__nameBottomline.txtCenter #[i 2 days]
			p
				| is&#160;the possibility to&#160;see the city beyond touristic map, not only the centre but its suburbs, visit unique places and actual events, feel local life as&#160;it&#160;is.
				br
			ul.tourDetails
				li.tourDetails__item.tourDetails__itemHours.txtCenter
					| 20&#160;hrs
				li.tourDetails__item.tourDetails__itemDistance.txtCenter
					| 30&#160;km
				li.tourDetails__item.tourDetails__itemFoot.txtCenter
					| by&#160;foot
				li.tourDetails__item.tourDetails__itemCar.txtCenter
					| by&#160;car
				li.tourDetails__item.tourDetails__itemCost.txtCenter
					| &#36;2000

	.slide.tourOptions__tastekyiv
		.container
			h2 Taste Kyiv tour
			p.tourOptions__nameBottomline.txtCenter #[i gastronomic]
			p
				| to&#160;explore the city centre including food markets and festivals, traditional cuisine, world&#146;s fast food, classy restaurants, best coffee spots and bars.
				br
				| Duration and locations are discussed.

	.slide.tourOptions__dreamkyiv
		.container
			h2 Dream Kyiv tour
			p
				| is&#160;arranged according to&#160;your personal requests. So&#160;if&#160;you want to&#160;see only all art galleries in&#160;the city or&#160;coffee shops, visit secret places and architecture of&#160;Soviet times&#160;&#8212; no&#160;problem. We&#160;can get pretty much anywhere you want to&#160;go&#160;in&#160;the city.
				br
				| Duration and locations are discussed.
		