.section.guide.bgimg.inverted(data-anchor='guide')
	.container
		.row
			.six.columns
				h2 The Guide
				p My name is Anna and I work as licenced tour guide for more than 5 years. I am deeply passionate about Kyiv and I will be glad to share my knowledge with you.
				p If you want to explore the city with a professional insider or find a friend in an unknown city just let me know and I promise I will get you to fall in love with Kyiv.
				.row.contactIcons
					.two.columns
						img(src='../img/mail.svg')
					.two.columns
						img(src='../img/mobile-phone.svg')
					.two.columns
						img(src='../img/skype.svg')
					.two.columns
						img(src='../img/telegram.svg')
					.two.columns
						img(src='../img/viber.svg')
					.two.columns
						img(src='../img/whatsapp.svg')
				p Fore more info about Kyiv visit #[a(href='#') my blog]
			.six.columns