.section.reasons(data-anchor='reasons')
	//-p.reasons-headline Reasons to visit Ukraine’s capital:
	include sectionReasons__reason1.jade
	include sectionReasons__reason2.jade
	include sectionReasons__reason3.jade
	include sectionReasons__reason4.jade
	include sectionReasons__reason5.jade
	include sectionReasons__reason6.jade
	include sectionReasons__reason7.jade