h2 Dream Kyiv tour
p is&#160;arranged according to&#160;your personal requests. So&#160;if&#160;you want to&#160;see only all art galleries in&#160;the city or&#160;coffee shops, visit secret places and architecture of&#160;Soviet times&#160;&#8212; no&#160;problem. We&#160;can get pretty much anywhere you want to&#160;go&#160;in&#160;the city. Duration and locations are discussed.