h2 Explore Kyiv tour
p is&#160;perfect when quick glance is&#160;not enough and you want at&#160;an&#160;easy pace admire the beauty of&#160;central district, visit hidden places and hear exciting stories. Three or&#160;four stops are usually made.
.tourOptions__details
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-clock')
		span.tourOptions__text 10&#160;hrs
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-distance')
		span.tourOptions__text 20&#160;km
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-walk')
		span.tourOptions__text by&#160;foot
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-car')
		span.tourOptions__text by&#160;car
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-price')
		span.tourOptions__text &#36;990