h2 Meet Kyiv tour
p is&#160;the best way to&#160;make friends with the city in&#160;the quickest way, to&#160;discover the basics of&#160;its history and see the most important sights.
.tourOptions__details
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-clock')
		span.tourOptions__text 3-4&#160;hrs
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-distance')
		span.tourOptions__text 10&#160;km
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-walk')
		span.tourOptions__text by&#160;foot
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-car')
		span.tourOptions__text by&#160;car
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-price')
		span.tourOptions__text &#36;750