h2 Taste Kyiv tour
p.tourOptions__secondLine #[i gastronomic]
p to&#160;explore the city centre including food markets and festivals, traditional cuisine, world&#146;s fast food, classy restaurants, best coffee spots and bars.Duration and locations are discussed.