h2 La guida
.guide__blockImage
	img.guide__img(src='../images/anna-lytkina.jpg')
.guide__blockText
	p 
		| Se volete esplorare la città con un insider professionale o trovare un amico nella città nuova contattatemi e vi prometto che vi  innamorate della città di Kyiv.
		br
		| Mi chiamo Anna, sono appassionata di questa città e faccio la guida turistica più di 5 anni.
	a.button(href='#' onclick='jivo_api.open();') Chat with me
	//- .guide__contactIcons
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-mail')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-phone')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-skype')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-telegram')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-viber')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-whatsapp')
	//-p Fore more info about Kyiv visit #[a(href='#') my blog]