h2 Unique atmosphere
p
	| Kyiv has an&#160;atmosphere that you can&#146;t find anywhere in&#160;Europe. It&#146;s the mixture of&#160;ancient Slavic and European cultures, Soviet brutalism and Ukrainian spirit.
	br
	| Kyiv is&#160;rebellious and conservative, luxurious and shabby at&#160;the same time.