h2 Nice people
p City is&nbsp;not just about the history and architecture but also about people. A&nbsp;friend of&nbsp;mine Kris Kulakovska has the project that tells about the people on&nbsp;the streets of&nbsp;Kyiv. Just take a&nbsp;look and see who live and come here.
a.button(href='https://www.facebook.com/Kyivs.Residents/' target='blank')
	span @Kyivs.Residents
	svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512')
		path(fill='#FFF', d='M488.7 0H302.5c-12.8 0-23.2 10.4-23.2 23.3 0 12.8 10.4 23.2 23.2 23.2h130L193 286c-9 9.2-9 24 0 33 4.5 4.5 10.5 6.8 16.5 6.8s12-2.3 16.4-6.8L465.3 79.5v130c0 12.8 10.4 23.2 23.2 23.2 13 0 23.3-10.4 23.3-23.2V23.3c0-13-10.5-23.3-23.4-23.3z')
		path(fill='#FFF', d='M395.6 232.7c-12.8 0-23.2 10.4-23.2 23.3v209.5h-326v-326H256c13 0 23.3-10.3 23.3-23S269 93 256 93H23.3C10.3 93 0 103.6 0 116.5v372.3c0 13 10.4 23.3 23.3 23.3h372.3c13 0 23.3-10.3 23.3-23.2V256c0-13-10.6-23.3-23.5-23.3z')