h2 The Guide
.guide__blockImage
	img.guide__img(src='images/anna-lytkina.jpg')
.guide__blockText
	p 
		| If&#160;you want to&#160;explore the city with a&#160;professional insider or&#160;find a&#160;friend in&#160;an&#160;unknown city just let me&#160;know and&#160;I promise you will fall in&#160;love with Kyiv.
		br
		| My&#160;name is&#160;Anna and&#160;I deeply passionate about Kyiv and work as&#160;licenced tour guide for more than 5&#160;years.
	button.button
		span Send me a message
	//- .guide__contactIcons
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-mail')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-phone')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-skype')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-telegram')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-viber')
	//- 	.guide__contactIcon
	//- 		svg
	//- 			use(xlink:href='#icon-whatsapp')
	p Fore more info about Kyiv visit #[a(href='#') my blog]