h2 Esplorare Kyiv
p Perfetto quando colpo d'occhio non basta. Quando si desidera in un modo facile ammirare la bellezza del quartiere centrale, visitare luoghi nascosti e ascoltare  le storie emozionanti. Sono consigliati 3-4 , coffee break/ pause, che si accordano in base alle esigenze del cliente.
.tourOptions__details
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-clock')
		span.tourOptions__text 7-9&#160;ore
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-distance')
		span.tourOptions__text 20&#160;km
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-walk')
		span.tourOptions__text a piedi
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-car')
		span.tourOptions__text in macchina
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-price')
		span.tourOptions__text &#8364;10