h2 Feel Kyiv
p È una possibilità di vedere la città al di là della mappa turistica, non solo il centro, ma anche la sua periferia, visitare luoghi unici ed eventi culturali, godere la vita locale così com'è.
.tourOptions__details
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-clock')
		span.tourOptions__text ≈20 ore in 2 giorni
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-distance')
		span.tourOptions__text 30&#160;km
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-walk')
		span.tourOptions__text a piedi
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-car')
		span.tourOptions__text in macchina
	
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-price')
		span.tourOptions__text &#8364;10 all’ora