h2 Conoscere Kyiv
p È ottimale per fare l’amicizia con la città in modo rapido, per scoprire le basi della sua storia e vedere i luoghi più interessanti.
.tourOptions__details
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-clock')
		span.tourOptions__text 3-4&#160;ore
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-distance')
		span.tourOptions__text 10&#160;km
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-walk')
		span.tourOptions__text a piedi
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-car')
		span.tourOptions__text in macchina
	.tourOptions__detailsItem
		svg.tourOptions__icon(viewbox='0 0 512 512')
			use(xlink:href='#icon-price')
		span.tourOptions__text &#8364;10 all’ora