h2 Rich history and culture
p
	| Kyiv is&#160;more than 1500 years old. It&#160;is&#160;the cradle of&#160;Eastern slavic culture and a&#160;place where a&#160;number of&#160;outstanding personalities lived, loved and created.
	br
	| So&#160;just imagine how many great stories the city keeps.