h2 Good location
svg.icon-location
	use(xlink:href='#icon-location')
p Kyiv is&#160;the very heart of&#160;Europe. The flight duration from Rome or&#160;Tel Aviv is&#160;about 3&#160;hours. So&#160;for some of&#160;you it&#160;can be&#160;the weekend trip.