h2 Reasonable prices
ul.reasons__pricesTable
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-bill')
		| Dinner bill #[span.priceAmount &#36;8]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-ticket')
		| Ticket to&#160;museum #[span.priceAmount &#36;2]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-subway')
		| Subway ticket #[span.priceAmount &#36;0,2]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-coffee')
		| Cup of&#160;coffee #[span.priceAmount &#36;1]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-taxi')
		| Taxi around centre #[span.priceAmount &#36;3]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-cocktail')
		| Cocktail in&#160;bar #[span.priceAmount &#36;3]