h2 Dream Kyiv
p É organizzato secondo le richieste personali. Se si desidera visitare  tutte le gallerie d'arte o negozi della città,  visitare luoghi segreti e l'architettura dell'epoca sovietica – lo facciamo. Possiamo visitare qualsiasi luogo. Durata e luogi gli decidiamo insieme.