h2 Degustare Kyiv
p.tourOptions__secondLine #[i gastronomico]
p Esplorare il centro della città, tra cui mercati alimentari e festival, la cucina tradizionale, fast food da tutto il mondo,  migliori caffetterie e bar. La durata e i posti da siegliere insieme.