#menu {
  display: none;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
}

#menu li a {
  display: block;
  padding: 5px 15px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

#menu li.active {
  background: rgba(0, 0, 0, 0.15);
}

#menu li.active a {
  color: #fff;
}

#menu-icon {
  position: fixed;
  right: 0;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav:hover #menu {
  display: block;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 7rem;
}

.bgimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inverted {
  color: #fff;
}

.inverted path, .inverted polygon {
  fill: #fff;
}

.section {
  text-align: center;
}

.section .reasons-headline {
  font-weight: 100;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -250px;
  display: block;
  width: 500px;
  z-index: 1000;
}

.tour {
  background-image: url("../images/section1-lg-background.jpg");
}

.tour .scrolldown-icon {
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -15px;
}

.guide {
  background-image: url("../images/section3-lg-background.jpg");
}

.slide p {
  max-width: 50%;
}

.slide * {
  margin-left: auto;
  margin-right: auto;
}

.reason1 {
  background-image: url("../images/section2-reason1-lg-background.jpg");
}

.reason2 {
  background-image: url("../images/section2-reason2-lg-background.jpg");
}

.reason3 {
  background-image: url("../images/section2-reason3-lg-background.jpg");
}

.reason4 {
  background-image: url("../images/section2-reason4-lg-background.jpg");
}

.reason5 {
  background-image: url("../images/section2-reason5-lg-background.jpg");
}

.reason6 {
  background-image: url("../images/section2-reason6-lg-background.png");
  background-size: 70%;
}

.reason7 {
  background-image: url("../images/section2-reason7-lg-background.jpg");
}
