h2 Reasonable prices
ul.reasons__pricesTable
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			include ../icons/iconBill
		| Dinner bill #[span.priceAmount &#36;8]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			include ../icons/iconTicket
		| Ticket to&#160;museum #[span.priceAmount &#36;2]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			include ../icons/iconSubway
		| Subway ticket #[span.priceAmount &#36;0,2]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			include ../icons/iconCoffee
		| Cup of&#160;coffee #[span.priceAmount &#36;1]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			include ../icons/iconTaxi
		| Taxi around centre #[span.priceAmount &#36;3]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			include ../icons/iconCocktail
		| Cocktail in&#160;bar #[span.priceAmount &#36;3]