h2 Beautiful views
p 1/2 of&#160;Kyiv&#146;s territory is&#160;occupied by&#160;parks and gardens. You can&#146;t walk far without passing one. Picturesque Dnipro river, which runs through the middle of&#160;the city, provides sandy beaches and recreation areas in&#160;the very heart of&#160;the capital.