svg#iconCar(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;', xml:space='preserve')
	path(d='M50,0C22.4,0,0,22.4,0,50s22.4,50,50,50s50-22.4,50-50S77.6,0,50,0z M50,91.7C27,91.7,8.3,73,8.3,50S27,8.3,50,8.3\
	S91.7,27,91.7,50S73,91.7,50,91.7z')
	path(d='M82.5,44.7l-16.1-2.1L55.9,32c-0.3-0.3-0.7-0.5-1.1-0.5H31c-0.4,0-0.9,0.2-1.2,0.5L18.6,43.9c-0.1,0.1-0.1,0.2-0.2,0.3\
	c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.2-0.1,0.4-0.1,0.6v8.7c0,2.8,2.3,5.1,5.1,5.1h0.9c0.5,3.7,3.7,6.6,7.6,6.6c3.9,0,7-2.9,7.6-6.6\
	c0,0,0,0,0,0h23.5c0.5,3.7,3.7,6.6,7.6,6.6c3.9,0,7-2.9,7.6-6.6h1.5c2.5,0,4.6-2,4.6-4.6v-7.9C84,45.5,83.4,44.8,82.5,44.7z\
	M49.1,34.8h5l7.8,7.8H49.1V34.8z M37,34.8h8.8v7.8H33.1L37,35C37,34.9,37,34.8,37,34.8z M31.7,62.2c-2.5,0-4.5-2-4.5-4.5\
	c0-2.5,2-4.5,4.5-4.5c2.5,0,4.5,2,4.5,4.5C36.1,60.2,34.1,62.2,31.7,62.2z M70.3,62.2c-2.5,0-4.5-2-4.5-4.5c0-2.5,2-4.5,4.5-4.5\
	c2.5,0,4.5,2,4.5,4.5C74.7,60.2,72.7,62.2,70.3,62.2z M80.7,54.2L80.7,54.2c0,0.7-0.6,1.3-1.3,1.3h-1.8c-0.9-3.2-3.9-5.5-7.3-5.5\
	s-6.4,2.3-7.3,5.5H39.2c-0.1,0-0.2,0-0.2,0c-0.9-3.2-3.8-5.6-7.3-5.6c-3.5,0-6.4,2.4-7.3,5.6c-0.1,0-0.1,0-0.2,0h-0.9\
	c-1,0-1.9-0.8-1.9-1.9v-7.1h3.6c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6h-1.5l8.2-8.6h1.8L29,43.4c-0.3,0.5-0.2,1.1,0.1,1.6\
	c0.3,0.5,0.8,0.8,1.4,0.8h35.2l15.1,2V54.2z')
	path(d='M52.4,47h-3c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6h3c0.9,0,1.6-0.7,1.6-1.6C54,47.7,53.3,47,52.4,47z')