.section.reasons(data-anchor='reasons')
	.slide.reasons__item.reasons__history
		.container
			include content/reasons/en-history
	.slide.reasons__item.reasons__atmosphere
		.container
			include content/reasons/en-atmosphere
	.slide.reasons__item.reasons__views
		.container
			include content/reasons/en-views
	.slide.reasons__item.reasons__prices
		.container
			include content/reasons/en-prices
	.slide.reasons__item.reasons__entertainment
		.container
			include content/reasons/en-entertainment
	.slide.reasons__item.reasons__location
		.container
			include content/reasons/en-location
	.slide.reasons__item.reasons__people
		.container
			include content/reasons/en-people