.section.tourOptions(data-anchor='tour-options')
	.slide.tourOptions__item
		.container
			include content/tourOptions/en-meetKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/en-exploreKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/en-feelKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/en-tasteKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/en-dreamKyiv