.section.feedback(data-anchor='feedback')
	.slide.feedback__item
		.container
			.feedback__blockImage
				img.feedback__img(src='../images/clients-christian-berner.jpg')
			.feedback__blockText
				p
					q Anna often helps our company to&#160;welcome our foreign partners and clients to&#160;Kiev. She does a&#160;superb job showing our guests round the city and keeping everyone interested. It&#146;s a&#160;great pleasure to&#160;work with such a&#160;big professional and an&#160;easygoing person!
				p.feedback__name Christian Berner, Ukraine, #[q Infopulse]
	
	.slide.feedback__item
		.container
			.feedback__blockImage
				img.feedback__img(src='../images/clients-lucas-brown.jpg')
			.feedback__blockText
				p
					q Thanks Anna Lytkina for epic tour!
				p.feedback__name Lucas Brown, USA, #[q HasOffers]
	.slide.feedback__item
		.container
			.feedback__blockImage
				img.feedback__img(src='../images/clients-castrol.jpg')
			.feedback__blockText
				p
					q Being introduced to&#160;Kiev with Anna was a&#160;heart-warming, fun and insightful experience. She really brought the history of&#160;this great city to&#160;life for&#160;us and showed&#160;us treasures and places that we&#160;would never have found on&#160;our own. It&#160;was a&#160;perfect day out. Thank you Anna!
				p.feedback__name #[q Castrol], Turkey
	.slide.feedback__item
		.container
			.feedback__blockImage
				img.feedback__img(src='../images/clients-ramazan-centeli.jpg')
			.feedback__blockText
				p
					q First of&#160;all&#160;I want to&#160;thank our tour guide Anna who introduced&#160;us the city. She provided&#160;us with a&#160;whole lot of&#160;exciting information. She is&#160;really experienced guide and&#160;I would like to&#160;recommend visiting Kiev under her guidance. Because it&#160;would be&#160;much more interesting!
				p.feedback__name Ramazan Centeli, Turkey, #[q OPET]
	.slide.feedback__item
		.container
			.feedback__blockImage
				img.feedback__img(src='../images/clients-enya-shafir.jpg')
			.feedback__blockText
				p
					q Thanks to&nbsp;Anna our trip couldn&rsquo;t have been better! Anna is&nbsp;incredibly generous, sensitive, smart and friendly. She knew exactly where and when to&nbsp;take&nbsp;us. Her curiosity of&nbsp;history and culture was inspiring, and made our trip rich with stories, experiences and sheer fun.
				p.feedback__name Enya Shafir, Israel