.section.reasons(data-anchor='reasons')
	.slide.reasons__item.reasons__history
		.container
			include content/reasons/it-history
	.slide.reasons__item.reasons__atmosphere
		.container
			include content/reasons/it-atmosphere
	.slide.reasons__item.reasons__views
		.container
			include content/reasons/it-views
	.slide.reasons__item.reasons__prices
		.container
			include content/reasons/it-prices
	.slide.reasons__item.reasons__entertainment
		.container
			include content/reasons/it-entertainment
	.slide.reasons__item.reasons__location
		.container
			include content/reasons/it-location
	.slide.reasons__item.reasons__people
		.container.container_centered
			include content/reasons/it-people