.section.tourOptions(data-anchor='tour-options')
	.slide.tourOptions__item
		.container
			include content/tourOptions/it-meetKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/it-exploreKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/it-feelKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/it-tasteKyiv

	.slide.tourOptions__item
		.container
			include content/tourOptions/it-dreamKyiv