
/*----- Section "Tour options" -----*/

.tourOptions__nameBottomline
	margin-top: -15px
	font-size: ms(1)
	@extend %txtCenter
.tourDetails
	margin-top: 2em
	&__item
		@include span(1 of 5)
		text-align: center
	@include breakpoint($medium)
		@include container(70%)


//Meet Kiev tour
.tourOptions__meetkyiv
	background: #bc1339
	@extend %colorInverted
	@include breakpoint($medium)
		@include txtCenter

//Explore Kiev tour
.tourOptions__explorekyiv
	background: purple
	@extend %colorInverted
	@include breakpoint($medium)
		@include txtCenter

//Feel Kiev tour
.tourOptions__feelkyiv
	background: teal
	@extend %colorInverted
	@include breakpoint($medium)
		@include txtCenter

//Taste Kiev tour
.tourOptions__tastekyiv
	background: #663
	@extend %colorInverted
	@include breakpoint($medium)
		@include txtCenter

//Dream Kiev tour
.tourOptions__dreamkyiv
	background: #0048b1
	@extend %colorInverted
	@include breakpoint($medium)
		@include txtCenter