
/*----- Section "Reasons" -----*/
@include breakpoint($medium)
	.reason1
		background-image: url('../images/section2-reason1-lg-background.jpg')
	.reason2
		background-image: url('../images/section2-reason2-lg-background.jpg')
	.reason3
		background-image: url('../images/section2-reason3-lg-background.jpg')
	.reason4
		background-image: url('../images/section2-reason4-lg-background.jpg')
	.reason5
		background-image: url('../images/section2-reason5-lg-background.jpg')	
	.reason6
		background-image: url('../images/section2-reason6-lg-background.png')
		background-size: 70%
	.reason7
		background-image: url('../images/section2-reason7-lg-background.jpg')
	.guide
		background-image: url('../images/section3-lg-background.jpg')

//slide "Reasonable prices"
.priceTable__item
	background-repeat: no-repeat
	padding-left: 50px
	margin-bottom: 7px
	font-size: ms(1)
	line-height: 25px
	text-transform: uppercase
.priceAmount
	float: right
	color: #0bb8d7
	font-size: ms(2)
.priceTable__itemDinner
	background-image: url('../images/icon-bill.svg')
.priceTable__itemMuseum
	background-image: url('../images/icon-museum.svg')
.priceTable__itemSubway
	background-image: url('../images/icon-subway.svg')
.priceTable__itemCoffee
	background-image: url('../images/icon-coffee.svg')
.priceTable__itemTaxi
	background-image: url('../images/icon-taxi.svg')
.priceTable__itemCocktail
	background-image: url('../images/icon-cocktail.svg')

//slide "Entertaiment"
.entertainmentList__item
	margin-bottom: 5px
	line-height: 18px
	text-transform: uppercase