
/*----- Section "Reasons" -----*/		

//slide "Rich history and culture"
.reasonHystory
	background-color: $background-main
	@include breakpoint($medium)
		background-image: url('../images/section2-reason1-lg-background.jpg')


//slide "Unique atmosphere"
.reasonAtmosphere
	background-color: $background-main
	@include breakpoint($medium)
		background-image: url('../images/section2-reason2-lg-background.jpg')

//slide "Beautiful views"
.reasonViews
	background-color: $background-main
	@include breakpoint($medium)
		background-image: url('../images/section2-reason3-lg-background.jpg')

//slide "Reasonable prices"
.reasonPrices
	background-color: $background-main
.priceTable
	&__item
		margin-bottom: 5px
		font-size: ms(1)
		line-height: 30px
		height: 30px
		text-transform: uppercase
		&:last-child
			margin-bottom: 0
	&__itemIcon
		float: left
		width: 25px
		height: 25px
		margin-right: 10px
		text-align: center
	svg
		max-height: 90%
		max-width: 90%
.priceAmount
	float: right
	background: #fff
	@include colorNormal
	border-radius: 6px
	width: 40px
	text-align: center


@include breakpoint($medium)
	.reasonPrices
		background-image: url('../images/section2-reason4-lg-background.jpg')
	.priceTable
		@include container(50%)
		background: $background-layer
		border-radius: 8px
		padding: 1em
	.priceTable__item
		margin-bottom: 15px
		@include colorNormal

//slide "Entertainment"
.reasonEntertainment
	background-color: $background-main
	@extend %txtCenter
	@include breakpoint($medium)
		background-image: url('../images/section2-reason5-lg-background.jpg')	
.entertainmentList__item
	margin-bottom: 5px

//slide "Good location"
.reasonLocation
	background-color: $background-main
#iconLocation
	display: block
	margin: 0 auto

@include breakpoint($medium)
	.blockIcon	
		@include span(3 of 8)
	.blockText
		@include span(5 of 8)
	#iconLocation
		width: 180px
		float: left
		margin-right: 40px
		margin-top: -20px


//slide "Nice people"
.reasonPeople
	background-color: $background-main
	@include breakpoint($medium)
		background-image: url('../images/section2-reason7-lg-background.jpg')