
/*----- Section "Tour options" -----*/
.tourOptions
	@extend %bgAlt

	&__secondLine
		margin-top: -15px
		font-size: ms(1)
		@extend %txtCenter
	&__item
		@include breakpoint($medium)
	&__details
		margin-top: 2em
		@include breakpoint($medium)
			@include container(75%)
		// @include breakpoint($medium-portrait)
		// 	@include container(70%)
	&__detailsItem
		@include span(1 of 5)
		@extend %txtCenter