h2 Ottima posizione
svg.icon-location
	use(xlink:href='#icon-location')
p Kyiv si trova nel cuore dell’Europa. La durata del volo da Roma o Tel Aviv è circa 3 ore. Cioè una scelta perfetta per passare il weekend.