h2 Bella gente
p Non soltanto la storia e l’architettura rappresentano  la città ma anche la gente. Chi vive e viene qui si può visionare nel progetto media “Humans of Kyiv” creato dalla mia amica Kris Kulakovska. Lei racconta le storie delle persone che incontra per le strade di Kyiv.
a.button.button_centered(href='https://www.facebook.com/Kyivs.Residents/' target='blank') @Kyivs.Residents