h2 Prezzi ragionevoli
ul.reasons__pricesTable
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-bill')
		| Conto della cena #[span.priceAmount &#36;8]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-ticket')
		| Biglietto per il museo #[span.priceAmount &#36;2]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-subway')
		| Biglietto della metropolitana #[span.priceAmount &#36;0,2]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-coffee')
		| Tazza fi caffè #[span.priceAmount &#36;1]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-taxi')
		| Taxi #[span.priceAmount &#36;3]
	li.reasons__pricesTableItem
		.reasons__pricesTableItemIcon
			svg
				use(xlink:href='#icon-cocktail')
		| Cocktail #[span.priceAmount &#36;3]