//-nav
ul#menu
	li.menu__item(data-menuanchor='tour'): a(href='#tour') Kyiv tour
	li.menu__item(data-menuanchor='reasons'): a(href='#reasons') Perché visitare?
	li.menu__item(data-menuanchor='guide'): a(href='#guide') La guida
	li.menu__item(data-menuanchor='tour-options'): a(href='#tour-options') Opzioni dei tour
	li.menu__item(data-menuanchor='feedback'): a(href='#feedback') Feedback
	li.menu__item.menu__item_lang: a(href='../') English