h2 Atmosfera unica
p
	| Kyiv ha un’atmosfera che non si può trovare nel resto dell’Europa. È incrocio tra la cultura, quella europea, l’eredità sovietica e spirito ucraino. 
	br
	| Kyiv è ribelle e conservativa, lussuosa e squallida nello stesso tempo.