h2 Ricca storia e cultura
p
	| Kyiv fu fondata più di 1500 anni fa. È una culla della cultura orientale slava e luogo dove tante grandi persone  vivevano, amavano e creavano.
	br
	| Immaginate un attimo quante storie interessante la città può raccontare.