h2 Panorami affascinanti
p La metà di Kyiv è coperta dai parchi e giardini. É difficile passeggiando non trovare uno.  Il pittoresco fiume Dnipro che attraversa la città offre  spiagge sabbiose ed aree ricreative nel cuore della capitale.